@import "tailwindcss";


:root {
  --bg-color: rgba(248, 248, 248, 1);
    --bg-color-off-white: rgba(248, 248, 248, 1);
  --text-light-color: rgba(113, 118, 128, 1);
  --text-dark-color: rgba(37, 43, 55, 1);
  --border-color: rgba(213, 215, 218, 1);
}


@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("ttf");
  font-weight: 500;
}

body {
  font-family: "SF Pro Display", sans-serif;
}